.AllCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.CardContainer{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ImgLogement{
    width: 20vw;
}

.ProprietaireText{
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    padding: 10px;
}

.PropText{
    font-size: 20px;
    line-height: 22px;
    padding: 10px;
}
.InfoPropietaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 0 0 0 20px;
    width: 30vw;
}

.InfoAgence{
    font-size: 30px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 0 0 0 20px;
    margin: 0 100px 0 0;
    border-left: black solid 2px;
}

.PrixText{
    padding: 30px;
}

.ComText{
    padding: 30px;
}