.ImgLogement{
    width:50%;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
}

.vueContainer{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.InfoBien{
    font-size: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TypeLogement{
    margin-bottom: 20px;
}

.Prix{
    margin-bottom: 20px;
}

.PropText{
    margin-bottom: 20px;
}