@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

@font-face {
  font-family: 'Philosopher', sans-serif;
  src: url("../assets/Philosopher/Philosopher-Regular.ttf");
}

*
{
	font-size: 100%;
	font-family: 'Philosopher', sans-serif;
}

@media (max-width: 1550px) {
	* {
		font-size: 80%;
	}
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Philosopher', sans-serif;
}