.container{
    background-color: #4B6587;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.Logo{
    width: 40px;
    height: 40px;
    margin-left: 3rem;
}

.textLogo{
    font-size: 20px;
    margin: 2rem;
    color: #F7F6F2;
}

.btn{
    width : 100%;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    color: #F7F6F2;
}

.navigateHover:hover{
    transition: 0.5s;
}

.navigateHover:hover{
    background-color: #2e3e53;
}

.btnContainer{
    display: grid;
    grid-template-columns: 8fr 3fr 3fr 1fr;
}